body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loading-box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(3.0);
  }

  100% {
    transform: scale(1.0);
  }

}

.loading-div {
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading-div h1 {
  z-index: 2;
}

.loading-img {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  height: 200px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: 1;
}

.hero-pillar {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  margin-left: 20%;
  height: 200px;
  animation-duration: 10s;
  animation-timing-function: linear;
  z-index: 1;
  opacity: .5;
}

.nav-bar {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  color: black;
  z-index: 100;
}

nav a {
  color: black;
}

.home-hero {
  background: url('./img/4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: white;
  z-index: 2;
}

.hero-subtitle {
  color: white;
  z-index: 2;
}

.blog-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 18px;
  padding-left: 1rem;
  padding-right: 18px;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 36px;
  padding-bottom: .3rem;
  max-width: 576px;
  max-width: 32rem;
  border: solid 1px gray;
  border-radius: 4px;
  background: white;
}

.blog-container img {
  max-width: 100%;
  height: auto;
}

.call-to-action {
  color: black;
  background: white;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 200ms;
  z-index: 2;
}

.header-link {
  margin-left: 2rem;
  align-self: flex-end;
}

.center-box {
  margin-top: 3rem !important;
  background: black !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}



.blogPostSection {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #fffdfc;
}

.blogSectionTitle {
  width: 100%;
  margin-left: 5rem;
  text-align: left;
  color: #003;
}

.blog-post-container {
  margin: 2rem;
  color: #000;
  background-color: #f5f3f2;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  transition: all .15s ease;
}

.blog-post-container:hover {
  transform: translateY(-.12rem) translateZ(0);
}

.blog-post-container img {
  align-self: center;
  max-width: 100%;
  height: auto;
  height: 10rem;
}

.containerLink {
  text-decoration: none;
}

.post-title {
  margin-left: 0px;
  width: 100%;
  color: #000;
  text-align: left;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 550;
  margin-bottom: 5px;
}

.post-desc {
  margin-left: 0px;
  margin-top: 0;
  color: #757272;
  text-align: left;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

.read-more {
  margin-top: 0;
  margin-left: 0px;
  color: #000;
  text-align: left;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 550;
  transition: all .15s ease;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.read-more:hover {
  margin-right: 10px;
  text-decoration: underline;
}

.allofit {
  transition: all .15s ease;
}

.allofit:hover {
  margin-left: 5px;
}

.pagination {
  width: 100%;
}

.call-to-action {
  margin-top: 1rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #fdfdfd;
  color: #616161;
  border-radius: 40px;
  border: 1px solid #c1c1c1;
  padding: 10px 0;
  text-decoration: none;
  width: 20rem;
  text-align: center;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  font-size: 1.4rem;
}

.call-to-action:active {
  background-color: #fdfdfd;
  color: white;
}


.call-to-action:hover {
  transform: scale(1.02);
}

.readMoreLink {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.subscribe-section {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://image.ibb.co/iGq7zT/blog4bkg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mc_embed_signup {
  background: rgba(0,0,0,0) !important;
}

.subscribe-text {
  color: white;
}

.subbtn {
}


@media (max-width: 900px) and (min-width: 300px) {
  .loading-div h1 {
    font-size: 80%;
  }

  .blog-container {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
  }

  .blog-container p {
    font-size: 20px;
  }

  .mc-banner {
    display: none !important;
  }

  #PopupSignupForm_0 {
    display: none !important;
  }

  .subscribe-section {
    height: 37.3vh;
    background-size: contain;
    background-attachment: scroll;
  }

  #mce-EMAIL {
    width: 70% !important;
  }

  .mc-layout__bannerContent {
    display: none;
  }

  .hero-subtitle {
    font-size: 2rem;
  }

}
